@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Cocktail Shaker';
	src: url('/fonts/cocktail-shaker.ttf');
}

@layer base {
	:root {
		--background: 20 14.3% 4.1%;
		--foreground: 60 9.1% 97.8%;
		--card: 20 14.3% 4.1%;
		--card-foreground: 60 9.1% 97.8%;
		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;
		--primary: 47.9 95.8% 53.1%;
		--primary-foreground: 26 83.3% 14.1%;
		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;
		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 12 6.5% 15.1%;
		--input: 12 6.5% 15.1%;
		--ring: 35.5 91.7% 32.9%;
		--radius: 0.75rem;
		--stripe-color1: 22.3 100% 48.4%;
		--stripe-color2: 25.4 100% 50%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body,
	#root,
	html {
		@apply bg-background text-foreground m-0 h-full overflow-x-clip font-roboto;
		/* scrollbar-width: none; */
	}
	/* ::-webkit-scrollbar {
		display: none;
	} */
	.page-title {
		@apply text-center font-cocktail text-8xl mb-14;
	}
	.page-section {
		@apply flex flex-col justify-center items-center h-full;
	}
	.changelogs {
		h1 {
			@apply text-primary text-5xl text-center font-cocktail mb-1;
		}
		h2 {
			@apply text-primary text-3xl font-roboto-mono underline mb-1 mt-2;
		}
		p:has(code) {
			@apply text-center text-xl;
		}
		ul {
			@apply text-lg list-disc pl-6;
		}
		blockquote {
			@apply text-lg text-foreground/50 italic pl-10;
		}
		blockquote p {
			@apply before:content-['>\00a0'];
		}
	}
}

@layer components {
	.danger-strip {
		background: repeating-linear-gradient(45deg, hsl(var(--stripe-color1)), hsl(var(--stripe-color1)) 20px, hsl(var(--stripe-color2)) 10px, hsl(var(--stripe-color2)) 40px);
	}
	.fade-to-black::before {
		background-image: linear-gradient(to right, hsl(var(--background)), hsl(var(--background)) 10%, rgba(0, 0, 0, 0));
	}
}
